apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort | default "http" }} 
      protocol: TCP
      name: {{ include "chart.fullname" . }}-port
      {{- if .Values.service.nodePort }}
      nodePort: .Values.service.nodePort
      {{- end }}
  selector:
    {{- include "chart.selectorLabels" . | nindent 4 }}
